In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
import json
import selenium
from selenium import webdriver
import os
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time 
import numpy as np
#Importo todo lo necesario para el scraping

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')
opciones.add_argument("--no-sandbox")
opciones.add_argument("--disable-setuid-sandbox")

In [3]:
driver = "./chromedriver.exe" #ejecuto el driver
driver = webdriver.Chrome(driver,options = opciones)
url = 'https://www.worlddata.info/life-expectancy.php' #selecciono la web sobre la que trabajare
driver.get(url) #accedo a la info de la web 
time.sleep(5)
boton = driver.find_element_by_css_selector("#cookieconsent_box > button.cc_accept.cc_right")
boton.click() #hago click en las cookis que me aparecen para acceder a los datos

/tmp/ipykernel_7855/3838757253.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver,options = opciones)
/tmp/ipykernel_7855/3838757253.py:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  boton = driver.find_element_by_css_selector("#cookieconsent_box > button.cc_accept.cc_right")

In [4]:
html=req.get(url)
soup = bs(html.text,'html.parser')
tabla = soup.find_all('table',class_="std100 hover") 
type(tabla) #obtengo un objeto de bs en el cual se encuentra la información que busco

bs4.element.ResultSet

In [5]:
link=tabla[0].find_all('td')

In [6]:
link[0].text.strip().split('\n')[0]
link[1].text.strip().split('\n')[0]
len(link)

600

In [7]:
arr = []
for b in range(0,600):
    arr.append(link[b].text.strip().split('\n')[0]) #obtengo un array con todos mis datos juntos

In [8]:
len(arr)

600

In [10]:
def marico(arr, size):
     arrs = []
     while len(arr) > size:
         pice = arr[:size]
         arrs.append(pice)
         arr   = arr[size:]
     arrs.append(arr)
     return arrs

In [11]:
rows = marico(arr, 5) #sobre mis rows extraidas del objeto bs aplico mi funcion y separo mis datos para trabajar más facil

In [12]:
rows

[['Hong Kong', '82.2 years', '88.1 years', '7.0 ‰', '6.5 ‰'],
 ['Switzerland', '81.9 years', '85.6 years', '10.0 ‰', '7.9 ‰'],
 ['Japan', '81.4 years', '87.5 years', '7.0 ‰', '11.1 ‰'],
 ['Singapore', '81.4 years', '85.7 years', '8.8 ‰', '5.0 ‰'],
 ['Sweden', '81.3 years', '84.7 years', '11.1 ‰', '8.6 ‰'],
 ['Macao', '81.3 years', '87.2 years', '10.9 ‰', '4.0 ‰'],
 ['Norway', '81.2 years', '84.7 years', '10.2 ‰', '7.6 ‰'],
 ['Italy', '81.1 years', '85.4 years', '7.0 ‰', '10.5 ‰'],
 ['Israel', '81.0 years', '84.7 years', '20.1 ‰', '5.1 ‰'],
 ['Iceland', '81.0 years', '84.2 years', '12.3 ‰', '6.3 ‰'],
 ['Spain', '80.9 years', '86.2 years', '7.6 ‰', '8.8 ‰'],
 ['Australia', '80.9 years', '85.0 years', '12.1 ‰', '6.7 ‰'],
 ['Netherlands', '80.5 years', '83.6 years', '9.7 ‰', '8.8 ‰'],
 ['Ireland', '80.4 years', '84.3 years', '12.1 ‰', '6.3 ‰'],
 ['Luxembourg', '80.3 years', '84.7 years', '10.0 ‰', '6.9 ‰'],
 ['South Korea', '80.3 years', '86.3 years', '5.9 ‰', '5.7 ‰'],
 ['Canada', '80.0 years', '84.2 years', '9.9 ‰', '7.6 ‰'],
 ['New Zealand', '80.0 years', '83.5 years', '12.0 ‰', '6.9 ‰'],
 ['France', '79.7 years', '85.6 years', '11.2 ‰', '9.1 ‰'],
 ['Belgium', '79.6 years', '84.0 years', '10.1 ‰', '9.5 ‰'],
 ['Austria', '79.5 years', '84.2 years', '9.6 ‰', '9.4 ‰'],
 ['Greece', '79.5 years', '84.5 years', '7.8 ‰', '11.7 ‰'],
 ['United Kingdom', '79.4 years', '83.1 years', '10.7 ‰', '9.0 ‰'],
 ['Denmark', '79.3 years', '83.2 years', '10.5 ‰', '9.3 ‰'],
 ['Finland', '79.2 years', '84.5 years', '8.3 ‰', '9.8 ‰'],
 ['Qatar', '79.1 years', '82.0 years', '9.4 ‰', '1.2 ‰'],
 ['Germany', '78.6 years', '83.4 years', '9.4 ‰', '11.3 ‰'],
 ['Slovenia', '78.5 years', '84.2 years', '9.3 ‰', '9.9 ‰'],
 ['Bermuda', '78.1 years', '85.8 years', '8.3 ‰', '8.4 ‰'],
 ['Portugal', '78.0 years', '83.5 years', '8.4 ‰', '10.9 ‰'],
 ['Chile', '77.8 years', '82.4 years', '12.2 ‰', '6.3 ‰'],
 ['Costa Rica', '77.7 years', '82.9 years', '13.7 ‰', '5.2 ‰'],
 ['United Arab Emirates', '77.3 years', '79.3 years', '10.2 ‰', '1.5 ‰'],
 ['Albania', '77.0 years', '80.2 years', '11.6 ‰', '8.1 ‰'],
 ['Cuba', '76.8 years', '80.8 years', '10.0 ‰', '9.1 ‰'],
 ['Puerto Rico', '76.5 years', '83.5 years', '6.4 ‰', '9.4 ‰'],
 ['Bahrain', '76.4 years', '78.4 years', '13.6 ‰', '2.4 ‰'],
 ['United States', '76.3 years', '81.4 years', '11.4 ‰', '8.7 ‰'],
 ['Czechia', '76.3 years', '82.1 years', '10.5 ‰', '10.5 ‰'],
 ['Algeria', '75.7 years', '78.1 years', '23.6 ‰', '4.7 ‰'],
 ['Iran', '75.6 years', '77.9 years', '18.4 ‰', '4.8 ‰'],
 ['Morocco', '75.4 years', '77.9 years', '18.5 ‰', '5.1 ‰'],
 ['Croatia', '75.4 years', '81.6 years', '8.9 ‰', '12.7 ‰'],
 ['Bosnia and Herzegovina', '74.9 years', '79.9 years', '7.9 ‰', '10.9 ‰'],
 ['China', '74.8 years', '79.2 years', '10.5 ‰', '7.1 ‰'],
 ['Kuwait', '74.8 years', '76.6 years', '13.3 ‰', '2.8 ‰'],
 ['Turkey', '74.7 years', '80.6 years', '15.8 ‰', '5.4 ‰'],
 ['Colombia', '74.5 years', '80.0 years', '14.7 ‰', '5.6 ‰'],
 ['Montenegro', '74.4 years', '79.3 years', '11.7 ‰', '10.8 ‰'],
 ['Estonia', '74.4 years', '82.8 years', '10.6 ‰', '11.6 ‰'],
 ['Ecuador', '74.3 years', '79.8 years', '19.5 ‰', '5.1 ‰'],
 ['Malaysia', '74.2 years', '78.3 years', '16.6 ‰', '5.2 ‰'],
 ['Poland', '74.1 years', '81.8 years', '9.9 ‰', '10.8 ‰'],
 ['Peru', '74.1 years', '79.5 years', '17.8 ‰', '5.6 ‰'],
 ['Saudi Arabia', '73.9 years', '76.8 years', '17.3 ‰', '3.5 ‰'],
 ['North Macedonia', '73.8 years', '77.8 years', '10.7 ‰', '10.1 ‰'],
 ['Sri Lanka', '73.6 years', '80.3 years', '15.5 ‰', '6.8 ‰'],
 ['Thailand', '73.5 years', '80.9 years', '10.2 ‰', '7.8 ‰'],
 ['Argentina', '73.2 years', '80.0 years', '16.8 ‰', '7.6 ‰'],
 ['Serbia', '73.1 years', '78.4 years', '9.3 ‰', '14.6 ‰'],
 ['Honduras', '73.0 years', '77.6 years', '21.3 ‰', '4.5 ‰'],
 ['Hungary', '72.9 years', '79.3 years', '9.5 ‰', '13.3 ‰'],
 ['Jamaica', '72.9 years', '76.1 years', '15.9 ‰', '7.6 ‰'],
 ['West Bank', '72.4 years', '75.8 years', '28.7 ‰', '3.5 ‰'],
 ['Paraguay', '72.3 years', '76.4 years', '20.3 ‰', '5.5 ‰'],
 ['Brazil', '72.2 years', '79.6 years', '13.7 ‰', '6.5 ‰'],
 ['Mexico', '72.2 years', '77.9 years', '17.3 ‰', '6.1 ‰'],
 ['Romania', '71.8 years', '79.3 years', '9.6 ‰', '13.4 ‰'],
 ['Lithuania', '71.5 years', '81.0 years', '9.8 ‰', '13.7 ‰'],
 ['Bulgaria', '71.5 years', '78.5 years', '8.8 ‰', '15.5 ‰'],
 ['Guatemala', '71.4 years', '77.2 years', '24.2 ‰', '4.7 ‰'],
 ['Armenia', '71.3 years', '78.5 years', '13.6 ‰', '9.8 ‰'],
 ['Vietnam', '71.3 years', '79.5 years', '16.5 ‰', '6.4 ‰'],
 ['Mauritius', '71.1 years', '77.6 years', '10.2 ‰', '8.8 ‰'],
 ['Bangladesh', '70.9 years', '74.6 years', '17.9 ‰', '5.5 ‰'],
 ['Latvia', '70.8 years', '79.9 years', '9.8 ‰', '14.5 ‰'],
 ['Azerbaijan', '70.5 years', '75.5 years', '14.1 ‰', '5.6 ‰'],
 ['Egypt', '69.7 years', '74.4 years', '25.7 ‰', '5.8 ‰'],
 ['Indonesia', '69.6 years', '74.0 years', '17.7 ‰', '6.5 ‰'],
 ['Georgia', '69.3 years', '78.1 years', '13.2 ‰', '12.8 ‰'],
 ['Belarus', '69.3 years', '79.4 years', '9.3 ‰', '12.8 ‰'],
 ['Nepal', '69.3 years', '72.2 years', '19.6 ‰', '6.3 ‰'],
 ['Kazakhstan', '68.8 years', '77.3 years', '21.7 ‰', '7.2 ‰'],
 ['Bolivia', '68.7 years', '74.5 years', '21.5 ‰', '6.8 ‰'],
 ['North Korea', '68.6 years', '75.7 years', '13.8 ‰', '9.2 ‰'],
 ['Iraq', '68.6 years', '72.7 years', '28.6 ‰', '4.7 ‰'],
 ['India', '68.5 years', '71.0 years', '17.6 ‰', '7.3 ‰'],
 ['El Salvador', '68.5 years', '77.8 years', '18.1 ‰', '7.1 ‰'],
 ['Venezuela', '68.3 years', '76.0 years', '17.6 ‰', '7.1 ‰'],
 ['Russia', '68.2 years', '78.2 years', '9.8 ‰', '13.3 ‰'],
 ['Cambodia', '67.5 years', '71.9 years', '22.0 ‰', '6.0 ‰'],
 ['Timor-Leste', '67.5 years', '71.6 years', '29.3 ‰', '5.9 ‰'],
 ['Philippines', '67.3 years', '75.5 years', '20.2 ‰', '5.9 ‰'],
 ['Ukraine', '66.9 years', '77.0 years', '8.1 ‰', '14.7 ‰'],
 ['Pakistan', '66.3 years', '68.3 years', '27.8 ‰', '6.9 ‰'],
 ['Mongolia', '65.8 years', '74.1 years', '23.4 ‰', '6.3 ‰'],
 ['Senegal', '65.8 years', '69.9 years', '34.0 ‰', '5.6 ‰'],
 ['Madagascar', '65.4 years', '68.7 years', '32.4 ‰', '5.9 ‰'],
 ['Ethiopia', '64.7 years', '68.5 years', '31.9 ‰', '6.4 ‰'],
 ['Yemen', '64.4 years', '67.8 years', '29.9 ‰', '6.0 ‰'],
 ['Kenya', '64.3 years', '69.0 years', '28.3 ‰', '5.4 ‰'],
 ['Burma', '64.0 years', '70.1 years', '17.4 ‰', '8.2 ‰'],
 ['Sudan', '63.5 years', '67.2 years', '31.8 ‰', '7.1 ‰'],
 ['Afghanistan', '63.4 years', '66.4 years', '31.8 ‰', '6.3 ‰'],
 ['Ghana', '63.0 years', '65.2 years', '29.0 ‰', '7.2 ‰'],
 ['Haiti', '61.8 years', '66.2 years', '24.0 ‰', '8.4 ‰'],
 ['Niger', '61.3 years', '63.6 years', '45.6 ‰', '8.0 ‰'],
 ['Zambia', '60.8 years', '66.9 years', '35.8 ‰', '6.3 ‰'],
 ['South Africa', '60.7 years', '67.7 years', '20.1 ‰', '9.4 ‰'],
 ['Gambia', '60.7 years', '63.5 years', '38.1 ‰', '7.7 ‰'],
 ['Zimbabwe', '59.8 years', '62.9 years', '29.7 ‰', '7.8 ‰'],
 ['Congo (Dem. Republic)', '59.1 years', '62.2 years', '40.6 ‰', '9.3 ‰'],
 ['Angola', '58.4 years', '64.0 years', '40.2 ‰', '8.0 ‰'],
 ['Cameroon', '58.0 years', '60.6 years', '34.9 ‰', '9.1 ‰'],
 ['Equatorial Guinea', '57.7 years', '59.9 years', '32.8 ‰', '9.1 ‰'],
 ['Ivory Coast', '56.6 years', '59.1 years', '35.5 ‰', '9.9 ‰'],
 ['Somalia', '55.7 years', '59.1 years', '41.6 ‰', '10.7 ‰'],
 ['Nigeria', '53.8 years', '55.6 years', '37.4 ‰', '11.6 ‰'],
 ['Chad', '52.8 years', '55.7 years', '41.7 ‰', '11.9 ‰'],
 ['Central Africa', '51.1 years', '55.5 years', '35.1 ‰', '12.0 ‰']]

In [13]:
df= pd.DataFrame(rows) #paso a un dataframe la info que he obtenido y acabo de limpiar

In [14]:
df.columns = ['country','life_expectancy_males','life_expectancy_females','birth_rate%','death_rate%'] 
#doy un nuevo nombre a mis columnas

In [15]:
df

,country,life_expectancy_males,life_expectancy_females,birth_rate%,death_rate%
0,Hong Kong,82.2 years,88.1 years,7.0 ‰,6.5 ‰
1,Switzerland,81.9 years,85.6 years,10.0 ‰,7.9 ‰
2,Japan,81.4 years,87.5 years,7.0 ‰,11.1 ‰
3,Singapore,81.4 years,85.7 years,8.8 ‰,5.0 ‰
4,Sweden,81.3 years,84.7 years,11.1 ‰,8.6 ‰
...,...,...,...,...,...
115,Ivory Coast,56.6 years,59.1 years,35.5 ‰,9.9 ‰
116,Somalia,55.7 years,59.1 years,41.6 ‰,10.7 ‰
117,Nigeria,53.8 years,55.6 years,37.4 ‰,11.6 ‰
118,Chad,52.8 years,55.7 years,41.7 ‰,11.9 ‰
119,Central Africa,51.1 years,55.5 years,35.1 ‰,12.0 ‰

In [16]:
def quitamierda(string):
    '''
    Funcion que limpia de % mis columnas para evitar problemas
    ignora los NaN para poder ejecutarse
    '''
    if type(string)==float:
        return string
    else:
        return string.replace('‰',' ').strip()

In [17]:
quitamierda('37.4 ‰')

'37.4'

In [18]:
df['birth_rate%'].isna().sum()

0

In [19]:
df['birth_rate%'] = df['birth_rate%'].apply(quitamierda)
df['death_rate%'] = df['death_rate%'].apply(quitamierda)

In [20]:
df

,country,life_expectancy_males,life_expectancy_females,birth_rate%,death_rate%
0,Hong Kong,82.2 years,88.1 years,7.0,6.5
1,Switzerland,81.9 years,85.6 years,10.0,7.9
2,Japan,81.4 years,87.5 years,7.0,11.1
3,Singapore,81.4 years,85.7 years,8.8,5.0
4,Sweden,81.3 years,84.7 years,11.1,8.6
...,...,...,...,...,...
115,Ivory Coast,56.6 years,59.1 years,35.5,9.9
116,Somalia,55.7 years,59.1 years,41.6,10.7
117,Nigeria,53.8 years,55.6 years,37.4,11.6
118,Chad,52.8 years,55.7 years,41.7,11.9
119,Central Africa,51.1 years,55.5 years,35.1,12.0

In [21]:
df.to_csv('life_expectancy_data.csv', index=False) #guardo mi dataframe limpio en csv