In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
import time 
import numpy as np

In [2]:
url='https://en.wikipedia.org/wiki/List_of_countries_by_obesity_rate'
html=req.get(url)
soup = bs(html.text,'html.parser')
tabla = soup.find_all('table')
type(tabla)

bs4.element.ResultSet

In [3]:
link=tabla[0].find_all('tr')

In [4]:
arr = []
for b in range(0,129):
    arr.append(link[b].text.strip().split('\n'))

In [5]:
df= pd.DataFrame(arr)

In [6]:
df

                    0 1      2 3                       4
0             Country     Rank     Obesity rate % (2016)
1               Nauru        1                     61.00
2        Cook Islands        2                     55.90
3               Palau        3                     55.30
4    Marshall Islands        4                     52.90
..                ... ..   ... ..                    ...
124          Eswatini      124                     16.50
125          Malaysia      125                     15.60
126          Zimbabwe      126                     15.50
127             Gabon      127                     15.00
128        Tajikistan      128                     14.20

[129 rows x 5 columns]

In [7]:
df1 = df.drop(columns = [1,2,3,]) #Elimino las columnas que no me interesan

In [8]:
df1.columns = ['country','obesityrate%']
#Cambio los nombres de mis actuales columnas para que esten mas claros y me sea mas sencillo trabajar

In [9]:
dff = df1.drop([0],axis=0) #elimino la primera final

In [10]:
dff.reset_index(inplace=True) #reseteo el indice tras eliminar la primera fila

In [15]:
y = (dff.drop(['index'], axis=1)) #elimino la columna indices que se me habia creado

In [16]:
y #Ya lo tengo limpio, columnas con los nombres bien puestos, ausencia de nulos y reset del index|ready

              country obesityrate%
0               Nauru        61.00
1        Cook Islands        55.90
2               Palau        55.30
3    Marshall Islands        52.90
4              Tuvalu        51.60
..                ...          ...
123          Eswatini        16.50
124          Malaysia        15.60
125          Zimbabwe        15.50
126             Gabon        15.00
127        Tajikistan        14.20

[128 rows x 2 columns]

In [17]:
y.to_csv('obesity_rate_data.csv',index=False) #guardo mi dataframe limpio en csv