## ETL proyect

## 1-Busqueda de los primeros datos:

### -Importo mi primer data set(csv)

In [19]:
import pandas as pd
import requests as req
from bs4 import BeautifulSoup as bs
import numpy as np
import lxml
import html5lib
import warnings
warnings.simplefilter('ignore') #esta linea y la de arriba ponen fin a la aparición de warnings
from sqlalchemy import create_engine

In [2]:
alc=pd.read_csv('../data/gapminder_alcohol.csv') #Importo el csv de Kaggel
alc.sample(5) #Primera obsrvación de los datos

,country,alcconsumption,incomeperperson,suicideper100th,employrate,urbanrate
41,"Congo, Dem. Rep.",3.39,103.775857,14.713020,66.199997,33.96
98,Kiribati,2.70,760.262365,NaN,NaN,43.84
18,Belize,5.92,3545.652174,9.388796,56.799999,51.70
107,Liberia,5.07,155.033231,7.184853,66.000000,60.14
31,Cameroon,7.90,713.639303,7.214221,59.099998,56.76

In [3]:
alc.info(9) #Tengo un total de 213 paises y 6 columnas de información relativa a cada uno de ellos
#Dejo los datos tal cual estan por el momento, para tratarlos después cuando tenga el resto de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          213 non-null    object
 1   alcconsumption   187 non-null    float64
 2   incomeperperson  190 non-null    float64
 3   suicideper100th  191 non-null    float64
 4   employrate       178 non-null    float64
 5   urbanrate        203 non-null    float64
dtypes: float64(5), object(1)
memory usage: 10.1+ KB

### -Importo un segundo data set(csv)

In [4]:
death=pd.read_csv('../data/csvData.csv') #Importo otro data set con mas info 
death.sample(5)

         country  rateBoth  rateMale  rateFemale
104      Morocco      14.7      28.6         0.9
65       Ireland      23.6      26.1        21.2
16        Latvia      36.7      49.5        24.0
27       Georgia      29.7      54.2         5.2
89   North Korea      18.8      37.5         0.0

In [5]:
death.shape #dimensiones menores, algunos paises del registro anterior no estan ahora, tendre que limpiarlo

(148, 4)

### -Importo un tercer data set(csv)

In [6]:
#data set tipos de muertes ???
tipo = pd.read_csv('../data/Death Cause Reason by Country.csv')
tipo.head(5)

,Country Name,Covid-19 Deaths,Cardiovascular diseases,Respiratory diseases,Kidney diseases,Neonatal disorders,Meningitis,Malaria,Interpersonal violence,HIV/AIDS,...,Neoplasms,"Fire, heat",Drowning,Drug use disorders,Road injuries,Environmental heat and cold exposure,Self-harm,Conflict and terrorism,Diabetes,Unnamed: 32
0,Afghanistan,2201.0,61995,7082,5637,23701,1563,530,5015,318,...,21247,485,1687,406,8254,59,1613,24295,4817,NaN
1,Albania,1181.0,12904,815,329,161,13,0,57,2,...,4705,18,36,29,243,4,152,0,175,NaN
2,Algeria,2762.0,97931,7528,8201,8756,292,0,459,264,...,23816,782,526,526,11051,40,1515,13,5328,NaN
3,Andorra,84.0,169,39,16,0,0,0,0,3,...,230,0,0,0,8,0,8,0,9,NaN
4,Angola,33.0,25724,3934,2464,18189,2520,10784,974,16802,...,12791,513,793,80,9253,114,1928,16,4033,NaN

In [7]:
tipo1 = tipo.drop(['Unnamed: 32'],axis=1) #elimino la columna

In [8]:
tipo1.columns = ['country','covid19', 'cardiobascular_diseases', 'respiratory_diseases','kidney_diseases','neonatal_disorders',
                 'meningitis','malaria','interpersonal_violence','hiv_aids','tuberculosis','maternal_disorders','respiratori_infections-lower','alcohol','diarrheal_diseases','poisoning',
                 'nutricional_deficiences','alzheimer','parkinson','hepatitis','digestive_disease','cirrhosis','protein_energy_malnutrition',
                 'neoplasm','fire_heat','drowing','drug_use','road_injuries','enviromental_extreme_cond','self_harm','conflict_and_terrorism','diabetes']

In [9]:
t = tipo1.drop(['alcohol'], axis=1) #elimino la columna

In [10]:
t.to_csv('type_death_data_clean.csv', index=False) #guardo mi dataframe ya limpio en un csv

## 2.Scraping de datos

### -Primer scraping

-Como se puede ver en el archivo,Scraping_life_expect_good , de este mismo repositorio.Accedo a la pagina https://www.worlddata.info/life-expectancy.php y tras un proceso de scraping y mediante el uso conjunto de selenium y beautiful soup.Obtengo la información que busco.

Con estos datos creo un dataframe con los datos obtenidos y limpios.Dicho dataframe limpio es el siguiente:

In [11]:
life=pd.read_csv('../data/life_expectancy_data.csv')
life.sample(5) #dataframe limpio

,country,life_expectancy_males,life_expectancy_females,birth_rate%,death_rate%
94,Pakistan,66.3 years,68.3 years,27.8,6.9
19,Belgium,79.6 years,84.0 years,10.1,9.5
57,Thailand,73.5 years,80.9 years,10.2,7.8
107,Zambia,60.8 years,66.9 years,35.8,6.3
98,Ethiopia,64.7 years,68.5 years,31.9,6.4

### -Segundo scraping

En segundo lugar me dirigo a https://en.wikipedia.org/wiki/List_of_countries_by_obesity_rate , en donde nuevamente hago scraping para obtener más datos con los que enriquecer los que ya he recolectado.En este caso con tan solo beautifulsoup y una leve limpieza obtengo los datos listos para pasar a un dataframe.

Estos datos limpios y en dataframe quedan de la siguiente manera:

In [12]:
obesity=pd.read_csv('../data/obesity_rate_data.csv')
obesity.sample(5) #dataframe limpio

        country  obesityrate%
127  Tajikistan          14.2
91      Estonia          21.2
38         Oman          27.0
96       Sweden          20.6
114     Moldova          18.9

## -3.Enriquecimiento y preparación de datos para sql

Tomo como dataframe de origen sobre el cual ir haciendo joins, el dataframe que aparece primero en este jupyter notebook, el relativo al consumo de alcol por paises.

In [13]:
x= alc.join(death.set_index('country'), on='country')

In [14]:
y = x.join(t.set_index('country'), on='country')

In [15]:
z = y.join(life.set_index('country'), on='country')

In [16]:
k = z.join(obesity.set_index('country'), on='country')

In [17]:
k

,country,alcconsumption,incomeperperson,suicideper100th,employrate,urbanrate,rateBoth,rateMale,rateFemale,covid19,...,road_injuries,enviromental_extreme_cond,self_harm,conflict_and_terrorism,diabetes,life_expectancy_males,life_expectancy_females,birth_rate%,death_rate%,obesityrate%
0,Afghanistan,0.03,NaN,6.684385,55.700001,24.04,NaN,NaN,NaN,2201.0,...,8254.0,59.0,1613.0,24295.0,4817.0,63.4 years,66.4 years,31.8,6.3,NaN
1,Albania,7.29,1914.996551,7.699330,51.400002,46.72,29.2,50.5,7.9,1181.0,...,243.0,4.0,152.0,0.0,175.0,77.0 years,80.2 years,11.6,8.1,21.7
2,Algeria,0.69,2231.993335,4.848770,50.500000,65.22,18.8,36.3,1.4,2762.0,...,11051.0,40.0,1515.0,13.0,5328.0,75.7 years,78.1 years,23.6,4.7,27.4
3,Andorra,10.17,21943.339900,5.362179,NaN,88.92,33.8,38.1,29.5,84.0,...,8.0,0.0,8.0,0.0,9.0,NaN,NaN,NaN,NaN,25.6
4,Angola,5.57,1381.004268,14.554677,75.699997,56.70,NaN,NaN,NaN,33.0,...,9253.0,114.0,1928.0,16.0,4033.0,58.4 years,64.0 years,40.2,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Vietnam,3.91,722.807559,11.653322,71.000000,27.84,NaN,NaN,NaN,35.0,...,24153.0,82.0,8114.0,0.0,29391.0,71.3 years,79.5 years,16.5,6.4,NaN
209,West Bank and Gaza,NaN,NaN,NaN,32.000000,71.90,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,"Yemen, Rep.",0.20,610.357367,6.265789,39.000000,30.64,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,Zambia,3.56,432.226337,12.019036,61.000000,35.42,14.7,25.0,4.4,390.0,...,2285.0,84.0,1398.0,1.0,2573.0,60.8 years,66.9 years,35.8,6.3,NaN
212,Zimbabwe,4.96,320.771890,13.905267,66.800003,37.34,13.9,26.5,1.3,369.0,...,2554.0,37.0,2403.0,11.0,3460.0,59.8 years,62.9 years,29.7,7.8,15.5

## 3.Creación base datos SQL

Todos los datos que ido obteniendo durante el trabajo, han acabado en un único dataframe que engloba la información contenida en los dataframes anteriores a partir de los cuales se ha generado.

Los paises solo aparecen una vez en el dataframe y en las categorias en las que estos no tienen info, aparecen como valores NaN.

In [44]:
str_conn='mysql+pymysql://root:admin@localhost:3306'
motor=create_engine(str_conn)
motor.execute("SET sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));") #comando fin error 1055

In [48]:
motor.execute("CREATE DATABASE countries_db")

In [50]:
motor.execute('USE countries_db;')

In [51]:
#k.reset_index()
#k.to_sql(name='proyect_db', con=motor, index=True)
k.to_sql(name='countries_info', con=motor, if_exists='replace', index=False)